Repository jazzband/pip-tools, pull requests merged in 2021-08, with the labels that each got.

#1460 Change log level of hash message
  piptools/repositories/pypi.py
  tests/test_repository_local.py
  tests/test_repository_pypi.py
Labels: bug fix, logging

#1453 PEP 440 direct reference tweak unit tests
  tests/test_cli_compile.py
  tests/test_data/packages/fake_with_deps/setup.py
  tests/test_data/packages/small_fake_with_subdir/subdir/setup.py
Labels: skip-changelog, tests

#1455 Generate PEP 440 direct reference whenever possible
  piptools/utils.py
  tests/test_cli_compile.py
  tests/test_utils.py
  tests/test_writer.py
Labels: enhancement, writer

#1429 Add initial Sphinx docs skeleton
  .github/workflows/qa.yml
  .readthedocs.yml
  docs/.gitignore
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  tox.ini
Labels: docs, enhancement, skip-changelog

#1467 Assign copyright @ docs to project contributors
  docs/conf.py
Labels: docs, enhancement, skip-changelog

#1466 Define the release and the version in docs
  docs/conf.py
  docs/requirements.txt
Labels: bug fix, docs, skip-changelog

#1454 Separate the contributor checklist in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance, skip-changelog

#1468 Include the contributing doc into the Sphinx docs
  CONTRIBUTING.md
  docs/contributing.md
  docs/index.rst
Labels: docs, enhancement, skip-changelog

#1469 Add changelog to the Sphinx docs
  CHANGELOG.md
  docs/changelog.md
  docs/index.rst
Labels: docs, maintenance, enhancement, skip-changelog
