Repository jazzband/pip-tools, pull requests merged in 2023-09, with the labels that each got.

#1983 Remove unsupported `system_packages` from RTD config
  .readthedocs.yaml
Labels: docs, skip-changelog

#1979 Display `pyproject.toml`'s metatada parsing errors in verbose mode
  .pre-commit-config.yaml
  piptools/scripts/compile.py
  pyproject.toml
  tests/test_cli_compile.py
Labels: bug, pyproject.toml

#1986 Add mention of pip-compile-multi in Other useful tools README section
  README.md
Labels: docs

#1990 Enable testing merge queues @ GitHub Actions CI/CD
  .github/workflows/ci.yml
Labels: maintenance, ci, skip-changelog

#1992 Fix CI for `pip` v23.3+
  tests/test_cli_compile.py
Labels: tests, pip, dependency, skip-changelog

#1984 Make BacktrackingResolver ignore extras when dropping existing constraints
  .pre-commit-config.yaml
  piptools/resolver.py
  piptools/utils.py
  pyproject.toml
  tests/test_cli_compile.py
  tests/test_utils.py
Labels: bug, resolver, extras
