Repository jazzband/pip-tools, pull requests merged in 2023-06, with the labels that each got.

#1871 Convert README to Markdown
  README.md
  README.rst
  docs/conf.py
  docs/index.md
  docs/index.rst
  pyproject.toml
Labels: docs, refactor, maintenance, enhancement, packaging

#1881 📝 Add Matrix badges for pip-tools and jazzband
  README.md
Labels: docs, skip-changelog

#1882 🐛 Ignore matrix.to links in Sphinx's linkcheck
  docs/conf.py
Labels: docs

#1888 Specify build formats in .readthedocs.yaml
  .readthedocs.yaml
Labels: docs, skip-changelog

#1892 Release 6.14.0
  CHANGELOG.md
  README.md
Labels: maintenance, skip-changelog
