Repository jazzband/pip-tools, pull requests merged in 2024-03, with the labels that each got.

#2061 Change directory in `pip-compile-docs` tox session
  tox.ini
Labels: docs, skip-changelog

#2067 Release 7.4.1
  CHANGELOG.md
  README.md
Labels: maintenance, skip-changelog

#2066 Fix `pip-compile` to properly exclude non-relevant options from output header
  piptools/utils.py
  tests/test_utils.py
Labels: bug, logging

#1964 Parse pyproject.toml statically where possible
  piptools/build.py
  piptools/scripts/compile.py
  tests/test_build.py
  tests/test_cli_compile.py
  tests/test_data/packages/small_fake_with_pyproject/pyproject.toml
Labels: enhancement, pyproject.toml
