Repository jazzband/pip-tools, pull requests merged in 2024-05, with the labels that each got.

#2083 Fix CI for `pip` 24.1
  piptools/exceptions.py
Labels: tests, pip, skip-changelog

#2090 Make version specifier syntax in test packages index PEP 440-compliant
  tests/test_data/fake-index.json
Labels: tests, skip-changelog

#2087 Preserve relative paths for editable dependencies in output
  piptools/_compat/pip_compat.py
  tests/constants.py
  tests/test_pip_compat.py
Labels: bug, pip, writer, annotations

#2092 Fixes for failing linting checks
  piptools/_compat/pip_compat.py
  tests/test_pip_compat.py
Labels: skip-changelog

#2013 Ensure consistent extras formatting in output
  piptools/_compat/__init__.py
  piptools/_compat/pip_compat.py
  piptools/build.py
  piptools/resolver.py
  piptools/scripts/compile.py
  piptools/utils.py
  tests/conftest.py
  tests/test_cli_compile.py
Labels: bug, good first issue, extras
